.show{
    border: 1px black solid;
    justify-content: center;
    width: 25%;
    margin: 1%;
}

.showAsigs_Titulacion, .showCursos, .showTitulaciones{
    margin-left: auto;
    margin-right: auto;
    place-items: center;
    display: grid;
    grid-template-rows: 1fr 9fr 1fr;
}

.grid_titulaciones1{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    .cards{
        border: 1px black solid;
        width: 80%;
        text-align: center;
        margin: 2%;
    }
    button{
        margin-bottom: 4%;
    }
}

.grid_titulaciones2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    .cards{
        border: 1px black solid;
        width: 80%;
        text-align: center;
        margin: 2%;
    }
    button{
        margin-bottom: 4%;
    }
}

.grid_titulaciones3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;    
    .cards{
        border: 1px black solid;
        width: 80%;
        text-align: center;
        margin: 2%;
    }
    button{
        margin-bottom: 4%;
    }
}

.grid_asigs_titulacion1{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    .cards{
        border: 1px black solid;
        width: 80%;
        text-align: center;
        margin: 2%;
    }
    button{
        margin-bottom: 4%;
    }
}

.grid_asigs_titulacion2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    .cards{
        border: 1px black solid;
        width: 80%;
        text-align: center;
        margin: 2%;
    }
    button{
        margin-bottom: 4%;
    }
}

.grid_asigs_titulacion3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;    
    .cards{
        border: 1px black solid;
        width: 80%;
        text-align: center;
        margin: 2%;
    }
    button{
        margin-bottom: 4%;
    }
}

.grid_cursos1{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    .cards{
        border: 1px black solid;
        width: 125%;
        text-align: center;
        margin: 2%;
    }
    button{
        margin-bottom: 4%;
    }
}

.grid_cursos2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    .cards{
        border: 1px black solid;
        width: 125%;
        text-align: center;
        margin: 2%;
    }
    button{
        margin-bottom: 4%;
    }
}

.grid_cursos3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;    
    .cards{
        border: 1px black solid;
        width: 125%;
        text-align: center;
        margin: 2%;
    }
    button{
        margin-bottom: 4%;
    }
}

.data{
    text-align: center;
    padding: 2%;
}

.buttons{
    display: flex;
    flex-direction: row;
    padding: 2%;
}

.tablaNotas{
    td{
        border: 1px solid black;
    }
    th{
        border: 1px solid black;
    }
    tr{
        border: 1px solid black;
    }
}

.Asigs_Imp_Pages{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25dvb;
    place-items: center;
}

.Titulaciones_Pages{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25dvb;
    place-items: center;
}

.userPageShow{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25dvb;
    place-items: center;
}

.userPage{
    border: 1px black solid;
    padding: 1%;
    width: 20%;
    h1, h2, h3{
        text-align: center;
    }
    .columns{
        display: flex;
        flex-direction: column;
        padding: 2%;
    }
}