.grid_group{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.loginForm, .registerForm, .newAsignatura, .uptTitulacion{
    border: 1px black solid;
    padding: 1%;
    width: 20%;
    h1, h2, h3{
        text-align: center;
    }
}

.newTitulacion, .newCurso, .newTFM{
    border: 1px black solid;
    padding: 1%;
    width: 75%;
    h1, h2, h3{
        text-align: center;
    }
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1%;
    label{
        margin: 1%;
    }
    select{
        margin: 1%;
    }
    input{
        margin: 1%;
    }
    button{
        margin:1%;
    }
}

.combo_data{
    display: flex;
    flex-direction: row;
    input{
        width: 100%;
    }
    select{
        width: fit-content;
    }
}

.add_data{
    display: flex;
    flex-direction: row;
    input{
        width: 100%;
    }
    select{
        width: 100%;
    }
    button{
        margin-right: 1%;
        margin-top: 1%;
        height: 75%;
    }
}

.intra_div{
    display: flex;
    flex-direction: row;
    input{
        width: 100%;
    }
    select{
        width: 100%;
    }
    button{
        margin: 1%;
        width: 100%;
    }
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    button{
        margin-left: 1%;
        margin-right: 1%;
    }
}

.message_auto{
    text-align: justify;
}

.error{
    text-align: center;
    color: red;
}

.message{
    text-align: center;
    color: green;
}